<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>铺皇.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E7543961E9B55B300E97750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7543B21E9B55B400E97750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E7543BD1E9B55B400E97750</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
